*{
    color: black;
}

section{
    flex: 1 ;
}

form{
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;

    border-radius: 10px; 

    font-size: 1em;
    text-align: center;

    margin: 0 auto;


    display: flex; 
    justify-content: center;


    width: 35%;

    margin-top: 1em;
    margin-bottom: 1em;
    padding: 2em;
}

textarea, input:not(input[type="radio"]), select {
    height: 50px;
    padding: 0 10px;
    border-radius: 10px;
    border: 1px solid silver;
    font-size: 1em;
    margin-top: 8px;     
    width: 100%;
    max-width: 100%;
    
    background-color: transparent;

}

form li{
    text-align: center;
    font-size: 1.3em;
    width: 25em;
    list-style: none; 
    margin-top: 1em;
}

input[type="submit"]:hover, input[type="reset"]:hover{
    transition: 1s;
    scale: 1.3;
}

input[type="email"]:valid {
    border-color: green;
}   

input[type="email"]:invalid {
    border-color: red;
} 


@media screen and (max-width: 800px) {
    textarea, input:not(input[type="radio"]), select{
        width: 30%;
    }
}