@import url(Header.css);
@import url(VideoBackground.css);
@import url(body.css);


* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    color: white;
}

section {
    padding: 2em;  
    margin-left: auto;
    margin-right: auto;  

    border: 1px solid black;
    border-radius: 2%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    
    text-align: center;
    z-index: 1;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(3, auto);

}

p{
    font-size: 1.2em;
    color: greenyellow;
}

.college {
    grid-column: 2 / 4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 7;
}

.college .text1{
    grid-column: 1;
    grid-row: 7;

}

.college img {
    grid-column: 2;
    grid-row: 7;

}

.lycee{
    grid-column: 2 / 4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 8;
}

.lycee img {
    grid-column: 1;
    grid-row: 8;

}

.lycee .text2{
    grid-column: 2/3;
    grid-row: 8;

}

.universite {
    grid-column: 2 / 4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 9;

}

.universite .text3{
    grid-column: 1;
    grid-row: 9;

}

.universite img {
    grid-column: 2;
    grid-row: 9;
}


article img {
    width: auto;
    height: 15em;
    border-radius: 30%;
}


