.reseau {
    float: left;
}

.reseau a img {
    display: block;
    width: 4em; 
    height: auto;
}

section {
    width: 95%;
    margin: auto;
    flex: 1;
    padding: 2em; 
}


.Videofigure {
    display: flex;
    align-items: center;
    gap: 1em;
    max-width: 70%; 
    margin: 0 auto; 
}

.Videocaption {
    width: 30%; 
    font-size: 1.1em; 
    color: black; 
}

#video {
    width: 70%; 
    height: auto;
    border-radius: 8px; 
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.5);
}